In [2]:
 %load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
%sql sqlite://

'Connected: @None'

In [5]:
%%sql


DROP TABLE IF EXISTS CD;
DROP TABLE IF EXISTS Books;
DROP TABLE IF EXISTS Scientific_Journals;
DROP TABLE IF EXISTS Magazines; 

DROP TABLE IF EXISTS People;
DROP TABLE IF EXISTS Items;
DROP TABLE IF EXISTS Users;
DROP TABLE IF EXISTS Personels;
DROP TABLE IF EXISTS Borrowing;
DROP TABLE IF EXISTS Request;
DROP TABLE IF EXISTS Request_by;
DROP TABLE IF EXISTS Event;
DROP TABLE IF EXISTS Hosted_by;
DROP TABLE IF EXISTS Joining;


/*****************
*	Items
*****************/
CREATE TABLE Items(
    id INT PRIMARY KEY,
    availability VARCHAR(8),
    title VARCHAR(50),
    releaseDate DATE,
    CHECK (availability = 'available' 
		OR availability = 'borrowed' 
		OR availability = 'coming')
);


CREATE TABLE CD(
    id INT PRIMARY KEY,
	ISRC VARCHAR(50),
    artist VARCHAR(50),
    publisher VARCHAR(50),
    genre VARCHAR(30),
    FOREIGN KEY (id) REFERENCES Items(id)
	ON DELETE CASCADE
);

CREATE TABLE Books(
	id INT PRIMARY KEY,
	ISBN VARCHAR(50),
	author VARCHAR(50),
	genre VARCHAR(30),
	type VARCHAR (7),
	FOREIGN KEY (id) REFERENCES Items(id)
	ON DELETE CASCADE,
	CHECK (type = 'printed' 
		OR type = 'online')
);

CREATE TABLE Magazines(
	id INT PRIMARY KEY,
	ISSN VARCHAR(50),
	genre VARCHAR(30),
	publisher VARCHAR(50),
	FOREIGN KEY (id) REFERENCES Items(id)
	ON DELETE CASCADE
);

CREATE TABLE Scientific_Journals(
	id INT PRIMARY KEY,
	ISSN VARCHAR(50),
	field VARCHAR(30),
	researcher VARCHAR(50),
	FOREIGN KEY (id) REFERENCES Items(id)
	ON DELETE CASCADE
);

/*****************
*	People
*****************/
CREATE TABLE People (
	pid INT PRIMARY KEY,
	firstName VARCHAR(50),
	lastName VARCHAR(50),
	address VARCHAR(256),
	email VARCHAR(50),
	phone VARCHAR(10)
);

CREATE TABLE Users (
	pid INT PRIMARY KEY,
	totalFine INT,
	FOREIGN KEY (pid) REFERENCES People(pid)
	ON DELETE CASCADE
);

CREATE TABLE Personels (
	pid INT PRIMARY KEY,
	salary REAL,
	position VARCHAR(30),
	FOREIGN KEY (pid) REFERENCES People(pid)
	ON DELETE CASCADE
);

/*****************
*	Event
*****************/
CREATE TABLE Event (
	eid INT PRIMARY KEY,
	name VARCHAR (50),
	type VARCHAR (30),
	room VARCHAR(30),
	description VARCHAR(300),
	audiences VARCHAR(30),
	eventDate DATE,
	eventTime TIME
);

/****************
*	Request
*****************/
CREATE TABLE Request (
	rid INT PRIMARY KEY,
	description VARCHAR(300)
);

/*****************
*	Relationships
*****************/
CREATE TABLE Borrowing (
	id INT,
	uid INT,
	dateBorrowed DATE,
	dueDate DATE,
	fine INT,
	dateReturned DATE,
	PRIMARY KEY (id, uid),
	FOREIGN KEY (id) REFERENCES Items(id)
	ON DELETE CASCADE,
	FOREIGN KEY (id) REFERENCES Users(pid)
	ON DELETE CASCADE,
	CHECK (dateBorrowed < dueDate 
		OR dateBorrowed < dateReturned)
		
);

CREATE TABLE Request_by (
	rid INT,
	pid INT,
	PRIMARY KEY(rid,pid),
	FOREIGN KEY (rid) REFERENCES Request(rid)
	ON DELETE CASCADE,
	FOREIGN KEY (pid) REFERENCES People(pid)
	ON DELETE CASCADE
);

CREATE TABLE Hosted_by (
	eid INT,
	pid INT,
	PRIMARY KEY(eid,pid),
	FOREIGN KEY (eid) REFERENCES Event(eid)
	ON DELETE CASCADE,
	FOREIGN KEY (pid) REFERENCES People(pid)
	ON DELETE CASCADE
);

CREATE TABLE Joining (
	eid INT,
	pid INT,
	PRIMARY KEY(pid, eid),
	FOREIGN KEY (pid) REFERENCES People(pid)
	ON DELETE CASCADE,
	FOREIGN KEY (eid) REFERENCES Event(eid)
	ON DELETE CASCADE
);

/*****************
*	Triggers
*****************/

CREATE TRIGGER dueDate 
	BEFORE INSERT ON Borrowing
BEGIN
SELECT CASE 
WHEN NEW.dueDate IS NULL AND NEW.dateBorrowed IS NOT NULL 
THEN
	NEW.dueDate = date(NEW.dateBorrowed, '+14 days')
END;
END;

--INSERT INTO People (pid, firstName, lastName, address, email, phone)
--VALUES (123,'Nikola', 'Maeda', '4306 Triumph st', 'nikobox', '323');
--INSERT INTO Users (pid, totalFine) VALUES (123, 0);
--INSERT INTO Items (id) VALUES (1);
--INSERT INTO Books (id) VALUES (1);
--INSERT INTO Borrowing VALUES (1,123, '2007-01-01', NULL, NULL, NULL);
--SELECT * FROM Borrowing;

INSERT INTO Borrowing VALUES (1,123, DATE('now'), NULL, NULL, NULL);

 * sqlite://
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
(sqlite3.OperationalError) incomplete input
[SQL: /*****************
*	Triggers
*****************/

CREATE TRIGGER dueDate
	BEFORE INSERT ON Borrowing
BEGIN
SELECT CASE
WHEN(NEW.dueDate IS NULL AND NEW.dateBorrowed IS NOT NULL)
THEN
	NEW.dueDate = date(NEW.dateBorrowed, '+14 days')
END;]
(Background on this error at: http://sqlalche.me/e/e3q8)