In [1]:
%load_ext sql

In [2]:
%sql sqlite:///library.db

'Connected: @library.db'

In [6]:
%%sql
select * from Borrowing;

 * sqlite:///library.db
Done.

[(2, 1, '2020-01-06', '2020-01-11', '2020-01-20', 0),
 (5, 1, '2020-01-06', '2020-01-11', '2020-01-20', 0),
 (8, 8, '2019-11-12', '2019-11-28', '2019-11-26', 2),
 (23, 9, '2020-03-03', '2020-03-20', '2020-03-17', 3),
 (11, 9, '2019-12-01', '2019-12-17', '2019-12-15', 2),
 (20, 10, '2020-01-11', '2020-01-26', '2020-01-25', 1),
 (28, 11, '2019-09-12', '2019-09-28', '2019-09-26', 2),
 (3, 11, '2020-02-02', '2020-02-17', '2020-01-16', 1),
 (13, 12, '2019-10-26', '2019-10-28', '2019-11-09', 0),
 (34, 18, '2020-02-02', '2020-02-22', '2020-02-16', 6)]

In [ ]:
delete from Borrowing where id=27